[spk-epel${OS_VERSION}-${ARCH}]
name = SPK EPEL ${OS_VERSION} ${ARCH}
baseurl = https://rhs50.spk.no/pulp/content/SPK/Library/custom/EPEL_${OS_VERSION}_Fed/EPEL_${OS_VERSION}_Fed/
metadata_expire = 1
enabled = 1
gpgcheck = 0
