[zulu-openjdk]
metadata_expire = 1
baseurl = https://rhs50.spk.no/pulp/repos/SPK/Library/custom/AzulZuluJDK/AzulZuluJDK/
name = zulu-openjdk - Azul Systems Inc., Zulu packages
enabled = 1
gpgcheck = 0
