# Repo i Satellite oppdateres fra https://download.docker.com/linux/centos/${OS_VERSION}/${ARCH}/stable/ hver natt.
# Versjoner i repo installeres i swarmene og standalone servere under vedlikehold.
[docker-el${OS_VERSION}]
name=Docker repo for ${OS_VERSION} i Satellite
baseurl=https://rhs50.spk.no/pulp/content/SPK/Library/custom/Docker_RHEL${OS_VERSION}/Docker_RHEL${OS_VERSION}/
enabled=1
gpgcheck=0
