<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <mirrors>
        <mirror>
            <id>public</id>
            <url>https://nexus.spk.no/content/groups/public</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <pluginGroups>
        <pluginGroup>no.spk.maven.plugin</pluginGroup>
        <pluginGroup>no.spk.puma.miljoe</pluginGroup>
    </pluginGroups>

    <profiles>
        <profile>
            <id>default-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>spk-snapshots</id>
                    <name>SPKs snapshotrepository for egenbygde moduler</name>
                    <url>https://nexus.spk.no/content/repositories/spk-snapshots</url>
                    <snapshots>
                        <checksumPolicy>warn</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>spk-releases</id>
                    <name>SPKs repository for egenbygde moduler</name>
                    <url>https://nexus.spk.no/content/repositories/spk-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <checksumPolicy>warn</checksumPolicy>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>spk-snapshots</id>
                    <name>SPKs snapshotrepository for egenbygde moduler</name>
                    <url>https://nexus.spk.no/content/repositories/spk-snapshots</url>
                    <snapshots>
                        <checksumPolicy>warn</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>spk-releases</id>
                    <name>SPKs repository for egenbygde moduler</name>
                    <url>https://nexus.spk.no/content/repositories/spk-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <checksumPolicy>warn</checksumPolicy>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

</settings>
