name: Build all SPK base images, push only on main

on:
  push:
    branches:
      - '*'
  workflow_dispatch:
  schedule:
    - cron: '32 21 8-14 * SUN' # Kjør den 2. søndagen i hver måned klokken 21:32

jobs:
  rockylinux:
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        os_version:
          - { version: 8, microsoft_repo_name: MS_Powershell_EL }
          - { version: 9, microsoft_repo_name: MS_Prod_EL }
        distro:
          - { type: -minimal, package_manager: microdnf }
          - { type: ' ', package_manager: dnf }
    uses: ./.github/workflows/podman-build-and-publish.yaml
    with:
      image_name: rockylinux
      image_tag: "${{ matrix.os_version.version }}${{ matrix.distro.type }}"
      containerfile: rocky-linux/Containerfile
      build_args: >
        OS_VERSION=${{ matrix.os_version.version }},
        OS_TYPE=${{ matrix.distro.type }},
        PACKAGE_MANAGER=${{ matrix.distro.package_manager }},
        MICROSOFT_REPO_NAME=${{ matrix.os_version.microsoft_repo_name }}
      platforms: linux/amd64,linux/arm64
      description: "Rocky Linux ${{ matrix.os_version.version }}${{ matrix.distro.type }} container image for SPK"

  zulu-openjdk:
    uses: ./.github/workflows/podman-build-and-publish.yaml
    needs: rockylinux
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        java_version: [ 21, 25 ]
        java_type: [ jdk, jre ]
    with:
      image_name: zulu-openjdk
      image_tag: "${{ matrix.java_version }}-${{ matrix.java_type }}"
      containerfile: zulu-openjdk/Containerfile
      build_args: >
        BASE_IMAGE=ghcr.io/statens-pensjonskasse/rockylinux:9-minimal,
        JAVA_VERSION=${{ matrix.java_version }},
        JAVA_TYPE=${{ matrix.java_type }}
      platforms: linux/amd64,linux/arm64
      description: "Java ${{ matrix.java_version }} ${{ matrix.java_type }} (Zulu OpenJDK) container image based on Rocky Linux 9 minimal for SPK"

  maven:
    uses: ./.github/workflows/podman-build-and-publish.yaml
    needs: zulu-openjdk
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        java_version: [ 25 ]
        maven_version: [ 3.9.11 ]
    with:
      image_name: maven
      image_tag: '${{ matrix.maven_version }}-zulu-openjdk-${{ matrix.java_version }}'
      containerfile: maven/Containerfile
      build_args: >
        BASE_IMAGE=ghcr.io/statens-pensjonskasse/zulu-openjdk:${{ matrix.java_version }}-jdk,
        MAVEN_VERSION=${{ matrix.maven_version }}
      platforms: linux/amd64
      description: "Maven ${{ matrix.maven_version }} container image based on Zulu OpenJDK ${{ matrix.java_version }} for SPK and Rocky Linux 9 minimal"

  python:
    uses: ./.github/workflows/podman-build-and-publish.yaml
    needs: rockylinux
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        python_version: [ 3.11, 3.12, 3.13 ]
    with:
      image_name: python
      image_tag: "${{ matrix.python_version }}"
      containerfile: python/Containerfile
      build_args: >
        BASE_IMAGE=ghcr.io/statens-pensjonskasse/rockylinux:9-minimal,
        PYTHON_VERSION=${{ matrix.python_version }}
      platforms: linux/amd64,linux/arm64
      description: Python ${{ matrix.python_version }} container image based on Rocky Linux 9 minimal for SPK

  nodejs:
    uses: ./.github/workflows/podman-build-and-publish.yaml
    needs: rockylinux
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        version:
          - { nodejs: 22, npm: 10 }
          - { nodejs: 24, npm: 11 }
        type:
          - { tag: ' ', additional_packages: ' ' }
          - { tag: -builder, additional_packages: git nss freetype harfbuzz gcc-c++ make bzip2 xorg-x11-server-Xvfb gtk2-devel gtk3-devel libnotify-devel GConf2 nss libXScrnSaver alsa-lib chromium }
    with:
      image_name: nodejs
      image_tag: "${{ matrix.version.nodejs }}${{ matrix.type.tag }}"
      containerfile: nodejs/Containerfile
      build_args: >
        BASE_IMAGE=ghcr.io/statens-pensjonskasse/rockylinux:9-minimal,
        NODEJS_VERSION=${{ matrix.version.nodejs }},
        NPM_VERSION=${{ matrix.version.npm }},
        ADDITIONAL_PACKAGES=\"${{ matrix.type.additional_packages }}\"
      platforms: linux/amd64,linux/arm64
      description: "Node.js ${{ matrix.version.nodejs }}${{ matrix.type.tag }} container image based on Rocky Linux 9 minimal for SPK"

  php-mssql-8-3:
    uses: ./.github/workflows/podman-build-and-publish.yaml
    permissions:
      contents: read
      packages: write
    with:
      image_name: php-mssql
      image_tag: 8.3
      containerfile: php-mssql/Containerfile
      platforms: linux/amd64,linux/arm64
      description: PHP 8.3 container image based on plain ubuntu 22.04

  go:
    uses: ./.github/workflows/podman-build-and-publish.yaml
    needs: rockylinux
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        platform: [ linux/amd64, linux/arm64 ]
        go_version: [ 1.25.0 ]
        include:
          - platform: linux/amd64
            runner_tag: ubuntu-latest
          - platform: linux/arm64
            runner_tag: ubuntu-24.04-arm
    with:
      image_name: go
      image_tag: "${{ matrix.go_version }}"
      containerfile: go/Containerfile
      build_args: >
        BASE_IMAGE=ghcr.io/statens-pensjonskasse/rockylinux:9-minimal,
        GO_VERSION=${{ matrix.go_version }}
      platforms: ${{ matrix.platform }}
      runner_tag: ${{ matrix.runner_tag }}
      description: Go container image based on Rocky Linux 9 minimal for SPK
